@function dark-grey($opacity: 1) {
  @return rgba(99, 95, 102, $opacity)
};


#menu {
  display: inline-block;
  position: relative;
  padding: 0 2em;
  width: 10em;
  height: 100vh;
  float: left;
  background-color: dark-grey(.2);
  line-height: 2em;
}

#proof-box {
  float: left;
  padding: 2em;
}
