@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

body {
    font-family: 'Anonymous Pro', monospace;
    font-size: 1em;
}

select {
    font-family: 'Anonymous Pro', monospace;
    font-size: 1em;
}

input[type=text] {
    font-family: 'Anonymous Pro', monospace;
    font-size: 1em;
}

#Error {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5em;
    background-color: #ff7777;
    text-align: center;
}
