@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

@function light-grey($opacity:1) {
  @return rgba(249, 246, 227, $opacity)
};

@function medium-blue($opacity:1) {
  @return rgba(66, 197, 244, $opacity)
};

@function dark-grey($opacity:1) {
  @return rgba(70, 90, 96, $opacity)
};

$white: #fff;

.no-display {
  display: none;
}

html, body, #elm-app, #main {
  width: 100%;
  height: auto;
}

body {
  color: dark-grey();
}

#menu {
  display: inline-block;
  height: 4em;
  line-height: 4em;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: dark-grey();
  color: $white;
  text-align: center;

  .menu-button {
    height: inherit;
    line-height: inherit;
    width: 10%;
    float: left;
    transition: background-color .5s;

    &:hover {
      background-color: medium-blue();
      cursor: pointer;
    }
  }

  .disabled {
    opacity: .5;

    &:hover {
      background-color: inherit;
      cursor: default;
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  font-family: inherit!important;
  font-size: .8em;
  background-color: light-grey();
  white-space: nowrap;
}

tr {
  width: 100%;
  text-align: center;
  line-height: 2em;
  height: 2em;
}

td {
  white-space: nowrap;
  font-family: 'Anonymous Pro', monospace;
}

#proof-box {
  margin: 5em 5%;
  width: 90%;
  z-index: 1;

  tr {
    border-bottom: 1px solid dark-grey(.5);
  }

  #proof-lines, #new-line {
    width: 100%;
    font-size: 1.2em;
  }

  .assumptions {
    white-space: nowrap;
    font-family: inherit;
    display: inline-block;
    width: 10%;
  }

  .line-number {
    font-family: inherit;
    display: inline-block;
    width: 10%;
  }

  .formula {
    font-family: inherit;
    display: inline-block;
    width: 40%;

    input {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      width: 80%;
    }
  }

  .reason {
    font-family: inherit;
    display: inline-block;
    width: 40%;

    input {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      width: 20%;
    }
  }

  #reason-dropdown {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    display: inline-block;
    width: 14%;
    margin: 3%;
  }

  #input-dropdown {
    font-family: inherit;
    display: inline-block;
    width: 44%;
    height: auto;
    margin: 0 3%;

    select {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      width: 100%;
    }
  }

  .short {
    display: none!important;
  }

  .long {
    width: 70%!important;
  }
}

#add-line {
  color: $white;
  background-color: dark-grey();
  padding: 1em;
  margin-top: 1em;
  font-size: .8em;
  transition: background-color 1s;

  &:hover {
    cursor: pointer;
    background-color: medium-blue();
  }
}

#error {
  display: block;
  position: fixed;
  line-height: 3em;
  bottom: 0;
  height: 3em;
  width: 100%;
  background-color: rgb(204, 81, 106);
  text-align: center;
  color: $white;
}

.floating {
  top: 4em;
  display: block;
  position: fixed;
  width: 25%;
  background-color: dark-grey();
  border-top: .2em solid light-grey();
  color: $white;

  #symbol-list {
    width: 100%;

    #new-symbol {
      display: inline-block;
      border-bottom: .2em solid light-grey();
      line-height: 3em;
      height: 3em;
      font-size: 1em
    }
  }

  .button {
    width: 100%;
    background-color: dark-grey();
    color: $white;
    border: none;
    border-bottom: .2em solid light-grey();
    height: 3em;
    line-height: 3em;
    font-size: 1em;
    text-align: center;
    transition: background-color .5s;

    &:hover {
      background-color: medium-blue();
      cursor: pointer;
    }
  }
}

#symbol-box {
  left: 20%;
}

#sequent-box {
  left: 30%;
}
